@charset 'utf-8';
/*-----------------------------------------------
Basic reset
-----------------------------------------------*/

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*-----------------------------------------------*/

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #1f1c1f;
}

h1,
h2,
h3, h4 {
    font-family: 'Oswald', sans-serif;
    color: #0D0C0D;
}

h1,
h2,
h3,
ul,
p {
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.125;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25;
}

h3 {
    font-size: 21px;
    font-weight: 500;
    line-height: 1.25;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;

}

/*-----------------------------------------------
Styling
-----------------------------------------------*/

/* Header */

/*-----------------------------------------------
Media queries
-----------------------------------------------*/

@media screen and (min-width: 1241px) {
    header {
        padding-left: 0;
    }
    .navContainer,
    .descriptionContainer {
        margin: 0 auto;
        max-width: 1241px;
        width: 90% !important;
    }
    .descriptionContainer {
        padding-top: 2rem;
    }
    .mainMenu li:last-of-type {
        margin-right: 0 !important;
    }
    .navigationMenu {
        padding: 1rem 0;
    }
}

@media screen and (min-width: 728px) {
    body {
        font-size: 18px;
    }
    h1 {
        font-size: 48px;
        line-height: 1.125;
    }
    h2 {
        font-size: 36px;
        line-height: 1.125;
    }
    h3 {
        font-size: 24px;
        line-height: 1.25;
    }
    h4 {
        font-size: 21px;
        line-height: 1.25;
        margin-bottom: .75rem;
    }
}