.hamburger {
    width: 64px;
    height: 64px;
    display: block;
    position: relative;
    cursor: pointer;
    position: fixed;
    top: 2.25em;
    right: 2.25em;
    z-index: 110;
    border-radius: 50%;
    background-color: white;
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 0 2px 4px -1px rgba(38,68,103,.3);
    transform: scale(1);
    transition: all .2s ease-in-out;
}

.hamburger__line, .hamburger__line-in, .hamburger__line-in:after, .hamburger__line-in:before {
    -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
    transition-timing-function: cubic-bezier(.19,1,.22,1);
}

.hamburger__line, .hamburger__line-in {
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
}

.hamburger__line--01 {
    top: 24.6px;
}

.hamburger__line--01, .hamburger__line--02, .hamburger__line--03, .hamburger__line--cross01, .hamburger__line--cross02 {
    left: 18px;
}

.hamburger__line {
    width: 28px;
    height: 2px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
}

.hamburger__line-in--01 {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

.hamburger__line, .hamburger__line-in, .hamburger__line-in:after, .hamburger__line-in:before {
    -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
    transition-timing-function: cubic-bezier(.19,1,.22,1);
}

.hamburger__line, .hamburger__line-in {
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
}

.hamburger__line-in {
    width: 84px;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

.hamburger__line-in:after, .hamburger__line-in:before {
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
}

.hamburger__line, .hamburger__line-in, .hamburger__line-in:after, .hamburger__line-in:before {
    -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
    transition-timing-function: cubic-bezier(.19,1,.22,1);

}

.hamburger__line-in:before {
    left: -56px;
}

.hamburger__line-in:after, .hamburger__line-in:before {
    width: 28px;
    height: 2px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    background-color: #ececec;
}